<a href="https://colab.research.google.com/github/cory-yemen/RU-Thesis-Dissertation-Latex-Template/blob/master/metropolitan_migration_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook to create migration measures by metro

In [103]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [104]:
# Function to get the counties in an msa
def get_msa_by_county():
    
    df = pd.read_excel('/content/gdrive/My Drive/dissertation/omb2013Definitions.xlsx',  
                       dtype = {'state_fips': str, 'county_fips': str})\
        .query('county_fips == county_fips & msa != "Micropolitan Statistical Area" & type != "Outlying"')\
        .assign(combined_fips = lambda x: x['state_fips'] + x['county_fips'])\
        [['cbsa_code', 'cbsa_name', 'county', 'state_name', 'combined_fips', 'state_fips', 'county_fips']]
    
    return df

# Function to get amenities by county (ERS)
def get_ers_amenity_index_by_county():
    
    df = pd.read_excel('/content/gdrive/My Drive/dissertation/ers_amenities.xlsx', 
                       dtype = {'combined_fips': str, 'Division': str})\
        .rename(columns = {'Division': 'division'})\
        .drop(['fips'], axis = 1)
    
    return df

# Function to get 

# Function to get OMB 2013 definitions on ERS data
def get_amenity_by_metro():
    
    omb_df = get_msa_by_county()
    
    ers_df = get_ers_amenity_index_by_county()
    
    df = pd.merge(omb_df, 
                  ers_df, 
                  on = 'combined_fips', 
                  how = 'inner')\
        .groupby(['cbsa_code'])\
        .agg({'amenity_scale': [np.mean, np.median, np.max]})
    
    return df

def get_colnames_from_first_row(df):
    
    df.columns = df.iloc[0].str.lower()
    df = df[1:]
    
    return df

# Function to get median rent and population
def get_rent_and_pop_acs_detail(year):
    
    if year == 2011:
        base = 'https://api.census.gov/data/2011/acs/acs3?get='
        
    else:
        base = 'https://api.census.gov/data/2007/acs/acs3?get='
        
    variables = 'CBSA,NAME,B25064_001E,B01001_001E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E'
    geo = '&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*'
    apikey = '&key=1ee5fd27e75dbba2bf4e3471b323a1be9c1e6b49'
    
    df = get_colnames_from_first_row(pd.read_json(base + variables + geo + apikey))\
        .assign(median_rent = lambda x: x['b25064_001e'].astype('int64'), 
                total_pop = lambda x: x['b01001_001e'].astype('int64'), 
                over65 = lambda x: x['b01001_020e'].astype('int64') + x['b01001_021e'].astype('int64') \
                + x['b01001_022e'].astype('int64') + x['b01001_023e'].astype('int64') + x['b01001_024e'].astype('int64') \
                + x['b01001_025e'].astype('int64') + x['b01001_044e'].astype('int64') + x['b01001_045e'].astype('int64') \
                + x['b01001_046e'].astype('int64') + x['b01001_047e'].astype('int64') + x['b01001_048e'].astype('int64') \
                + x['b01001_049e'].astype('int64'), 
                pctOver65 = lambda x: np.divide(x['over65'].astype('float'), x['total_pop'].astype('float')))\
        .rename(columns = {'cbsa': 'cbsa_code', 'name': 'cbsa_name', 'median_rent': 'median_rent_' + str(year), 
                           'total_pop': 'total_pop_' + str(year), 'pctOver65': 'pctOver65_' + str(year)})\
        [['cbsa_code', 'cbsa_name', 'median_rent_' + str(year), 'total_pop_' + str(year), 'pctOver65_' + str(year)]]
        
    return df

# Function to get epop
def get_epop_detail(year):

    if year == 2011:
        base = 'https://api.census.gov/data/2011/acs/acs3/profile?get='

    else:
        base = 'https://api.census.gov/data/2007/acs/acs3/profile?get='

    variables = 'CBSA,NAME,DP03_0007PE'
    geo = '&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*'
    apikey = '&key=1ee5fd27e75dbba2bf4e3471b323a1be9c1e6b49'

    df = get_colnames_from_first_row(pd.read_json(base + variables + geo + apikey))\
        .assign(epop = lambda x: (100 - x['dp03_0007pe'].astype(float))/100)\
        .rename(columns = {'cbsa': 'cbsa_code', 'name': 'cbsa_name', 'epop': 'epop_' + str(year)})\
        [['cbsa_code', 'cbsa_name', 'epop_' + str(year)]]

    return df

# Function to get average comp
def get_comp():

    df = pd.read_excel('/content/gdrive/My Drive/dissertation/averageComp.xls', dtype = {'GeoFips': np.str})\
        .rename(columns = {'GeoFips': 'cbsa_code', 'GeoName': 'cbsa_name', '2007': 'comp_2007', '2011': 'comp_2011'})

    return df

# Calculate distance in miles
def distance_calc(origin, destination):

    dist = geodesic(origin, destination).miles

    return dist

# Vectorize the distance calculation
vectorized_distance_calc = np.vectorize(distance_calc)


# Function to calculate distances
def get_distances():

    df = pd.read_excel('/content/gdrive/My Drive/dissertation/metareaGeoCoded2.xlsx', dtype = {'MSA': np.str})\
        .set_index('MSA')

    pairs = pd.DataFrame(index = pd.MultiIndex.from_product([df.index.tolist(), df.index.to_list()]))\
        .reset_index()\
        .rename(columns = {'level_0': 'cbsa_s', 'level_1': 'cbsa_r'})\
        .assign(lat_s = lambda x: x['cbsa_s'].map(df['lat']), 
                lon_s = lambda x: x['cbsa_s'].map(df['lon']), 
                lat_r = lambda x: x['cbsa_r'].map(df['lat']), 
                lon_r = lambda x: x['cbsa_r'].map(df['lon']), 
                coordinates_s = lambda x: tuple(zip(x['lat_s'], x['lon_s'])), 
                coordinates_r = lambda x: tuple(zip(x['lat_r'], x['lon_r'])), 
                distance = lambda x: vectorized_distance_calc(x['coordinates_s'], x['coordinates_r']))

    return pairs

# Function to calculate distances using metarea2013
def get_distances_2013():

    df = pd.read_csv('/content/gdrive/My Drive/dissertation/munisGeocoded.txt', sep = '|', dtype = {'Fips': np.str})\
        .set_index('Fips')

    pairs = pd.DataFrame(index = pd.MultiIndex.from_product([df.index.tolist(), df.index.to_list()]))\
        .reset_index()\
        .rename(columns = {'level_0': 'cbsa_s', 'level_1': 'cbsa_r'})\
        .assign(lat_s = lambda x: x['cbsa_s'].map(df['lat']), 
                lon_s = lambda x: x['cbsa_s'].map(df['lon']), 
                lat_r = lambda x: x['cbsa_r'].map(df['lat']), 
                lon_r = lambda x: x['cbsa_r'].map(df['lon']), 
                coordinates_s = lambda x: tuple(zip(x['lat_s'], x['lon_s'])), 
                coordinates_r = lambda x: tuple(zip(x['lat_r'], x['lon_r'])), 
                distance = lambda x: vectorized_distance_calc(x['coordinates_s'], x['coordinates_r']))   

    return pairs


# Function to get density
def get_density():

    df = pd.read_excel('/content/gdrive/My Drive/dissertation/density.xlsx', 'density', dtype = {'cbsa_code': np.str})

    return df

# Function to get density ratios
def get_density_ratio():

    df = get_density()\
        .set_index('cbsa_code')

    pairs = pd.DataFrame(index = pd.MultiIndex.from_product([df.index.tolist(), df.index.tolist()]))\
        .reset_index()\
        .rename(columns = {'level_0': 'cbsa_s', 'level_1': 'cbsa_r'})\
        .assign(density_2007_s = lambda x: x['cbsa_s'].map(df['dens_2007']), 
                density_2007_r = lambda x: x['cbsa_r'].map(df['dens_2007']), 
                density_2007_ratio = lambda x: x['density_2007_r'] / x['density_2007_s'], 
                density_2007_ratio_n = lambda x: (x['density_2007_ratio'] - x['density_2007_ratio'].mean()) / x['density_2007_ratio'].std(), 
                density_2011_s = lambda x : x['cbsa_s'].map(df['dens_2011']), 
                density_2011_r = lambda x: x['cbsa_r'].map(df['dens_2011']), 
                density_2011_ratio = lambda x: x['density_2011_r'] / x['density_2011_s'], 
                density_2011_ratio_n = lambda x: (x['density_2011_ratio'] - x['density_2011_ratio'].mean()) / x['density_2011_ratio'].std())

    return pairs

# Function to get amenity ratios
def get_amenity_ratio():
    '''Uses the max amenity level of the metro '''
    
    df = get_amenity_by_metro()
    df.columns = df.columns.droplevel(0)

    pairs = pd.DataFrame(index = pd.MultiIndex.from_product([df.index.tolist(), df.index.tolist()]))\
        .reset_index()\
        .rename(columns = {'level_0': 'cbsa_s', 'level_1': 'cbsa_r'})\
        .assign(amenity_index_s = lambda x: x['cbsa_s'].map(df['amax']), 
                amenity_index_r = lambda x: x['cbsa_r'].map(df['amax']), 
                amenity_index_ratio = lambda x: x['amenity_index_r'] / x['amenity_index_s'])

    return pairs

# Function to get wage ratios
def get_comp_ratio():

    df = get_comp()\
        .set_index('cbsa_code')

    pairs = pd.DataFrame(index = pd.MultiIndex.from_product([df.index.tolist(), df.index.tolist()]))\
        .reset_index()\
        .rename(columns = {'level_0': 'cbsa_s', 'level_1': 'cbsa_r'})\
        .assign(comp_2007_s = lambda x: x['cbsa_s'].map(df['comp_2007']), 
                comp_2007_r = lambda x: x['cbsa_r'].map(df['comp_2007']), 
                comp_2007_ratio = lambda x: x['comp_2007_r'] / x['comp_2007_s'])  

    return pairs

In [107]:
get_distances().query('cbsa_s == "6160" & cbsa_r == "5600"').head()

      cbsa_s cbsa_r  ...              coordinates_r   distance
56343   6160   5600  ...  (40.7127837, -74.0059413)  80.610551

[1 rows x 9 columns]

In [105]:
get_distances_2013().query('cbsa_s == "37980" & cbsa_r == "35620"').head()

      cbsa_s cbsa_r  ...                     coordinates_r   distance
59977  37980  35620  ...  (40.7127837, -74.00594129999999)  80.610551

[1 rows x 9 columns]

In [81]:
get_comp().query('cbsa_name.str.contains("Philadelphia|New York|Akron")', engine = 'python')

    cbsa_code  ... comp_2011
2       10420  ...     53824
250     35620  ...     82107
270     37980  ...     67213

[3 rows x 4 columns]

In [82]:
test = pd.read_excel('/content/gdrive/My Drive/dissertation/metareaGeoCoded2.xlsx', dtype = {'MSA': np.str})
test.query('MSAGeoNames.str.contains("Akron|Philadelphia|New York|Los")', engine = 'python')

      MSA  ...                address
1    0080  ...         akron, oh, usa
154  4480  ...   los angeles, ca, usa
183  5600  ...      new york, ny, usa
195  6160  ...  philadelphia, pa, usa

[4 rows x 6 columns]

In [77]:
test.head()

    MSA                         MSANames  ...        lat               address
0  0040                  Abilene, TX MSA  ...  32.448736      abilene, tx, usa
1  0080                        Akron, OH  ...  41.081445        akron, oh, usa
2  0120                   Albany, GA MSA  ...  31.578507       albany, ga, usa
3  0160  Albany-Schenectady-Troy, NY MSA  ...  42.652579       albany, ny, usa
4  0200              Albuquerque, NM MSA  ...  35.085334  albuquerque, nm, usa

[5 rows x 6 columns]

In [74]:
get_density_ratio().query('cbsa_s == "37980"')

      cbsa_s cbsa_r  ...  density_2011_ratio  density_2011_ratio_n
94428  37980  10180  ...            0.084506             -0.237691
94429  37980  10420  ...            0.138213             -0.231122
94430  37980  10500  ...            0.058192             -0.240910
94431  37980  10580  ...            0.369162             -0.202874
94432  37980  10740  ...            0.126970             -0.232497
...      ...    ...  ...                 ...                   ...
94789  37980  49420  ...            0.214638             -0.221774
94790  37980  49620  ...            0.411969             -0.197638
94791  37980  49660  ...            0.050549             -0.241844
94792  37980  49700  ...            0.142430             -0.230606
94793  37980  49740  ...            0.126103             -0.232603

[366 rows x 10 columns]

In [121]:
%%time
df = get_distances()

CPU times: user 23.2 s, sys: 47.6 ms, total: 23.3 s
Wall time: 23.3 s

In [118]:
df = get_distances()\
    .set_index('MSA')


pairs = pd.DataFrame(index = pd.MultiIndex.from_product([df.index.tolist(), df.index.to_list()]))\
    .reset_index()\
    .rename(columns = {'level_0': 'cbsa_s', 'level_1': 'cbsa_r'})\
    .assign(lat_s = lambda x: x['cbsa_s'].map(df['lat']), 
            lon_s = lambda x: x['cbsa_s'].map(df['lon']), 
            lat_r = lambda x: x['cbsa_r'].map(df['lat']), 
            lon_r = lambda x: x['cbsa_r'].map(df['lon']), 
            coordinates_s = lambda x: tuple(zip(x['lat_s'], x['lon_s'])), 
            coordinates_r = lambda x: tuple(zip(x['lat_r'], x['lon_r'])), 
            distance = lambda x: vectorized_distance_calc(x['coordinates_s'], x['coordinates_r']))


pairs.head()

  cbsa_s cbsa_r  ...                     coordinates_r     distance
0   0040   0040  ...  (32.4487364, -99.73314390000002)     0.000000
1   0040   0080  ...  (41.0814447, -81.51900529999999)  1169.268095
2   0040   0120  ...  (31.5785074, -84.15574099999999)   915.647527
3   0040   0160  ...         (42.6525793, -73.7562317)  1581.642374
4   0040   0200  ...        (35.0853336, -106.6055534)   435.186219

[5 rows x 9 columns]

In [129]:
df.query('cbsa_s == "4480" & cbsa_r == "6160"')

      cbsa_s cbsa_r  ...              coordinates_r     distance
44547   4480   6160  ...  (39.9525839, -75.1652215)  2393.483616

[1 rows x 9 columns]

In [ ]:
from sklearn.neighbors import DistanceMetric
df = get_distances()\
    .set_index('MSA')
dist = DistanceMetric.get_metric('haversine')
test = pd.DataFrame(dist.pairwise(df[['lat','lon']].to_numpy())*3958,  columns=df.index, index=df.index)
test.head()

MSA          0040         0080  ...          9340          9360
MSA                             ...
0040     0.000000  8790.218281  ...   2639.317602   3036.674882
0080  8790.218281     0.000000  ...   6789.460220   6989.720654
0120  7684.775363  2545.645896  ...   5076.138889   4916.715265
0160  9589.634536  5378.146345  ...  11766.211461  12222.245333
0200  9890.940811  1148.683859  ...   7906.162314   8020.984901

[5 rows x 288 columns]

In [ ]:
get_comp().tail()

     cbsa_code  ... epop_2011
380      49420  ...     43955
381      49620  ...     53887
382      49660  ...     46939
383      49700  ...     54926
384      49740  ...     46374

[5 rows x 4 columns]

In [ ]:
get_epop_detail(2007).query('cbsa_name.str.contains("Yuma") == True', engine = 'python')

0   cbsa_code            cbsa_name   epop
180     49740  Yuma, AZ Metro Area  0.548

In [ ]:
get_rent_and_pop_acs_detail(2011).head()

0 cbsa_code                 cbsa_name  ...  over65  pctOver65
1     10020  Abbeville, LA Micro Area  ...    7522   0.129656
2     10100   Aberdeen, SD Micro Area  ...    6763   0.166560
3     10140   Aberdeen, WA Micro Area  ...   11751   0.161797
4     10180    Abilene, TX Metro Area  ...   22374   0.135333
5     10220        Ada, OK Micro Area  ...    5629   0.149883

[5 rows x 6 columns]

In [ ]:
get_amenity_by_metro().head()

                                      amenity_scale
                                               mean median  amax
cbsa_code cbsa_name
10180     Abilene, TX                         2.040  2.040  2.04
10420     Akron, OH                          -2.285 -2.285 -2.17
10500     Albany, GA                         -0.045 -0.045  0.22
10540     Albany, OR                          3.650  3.650  3.65
10580     Albany-Schenectady-Troy, NY        -0.535 -0.190  0.30